BEBOP_API_KEY=request me
COINGECKO_API_KEY=request
OPENAI_API_KEY=sk-proj-
PORTALS_API_KEY=copy me from web
PORTALS_BASE_URL=https://api.portals.fi

UNCHAINED_ETHEREUM_HTTP_URL=https://dev-api.ethereum.shapeshift.com
UNCHAINED_AVALANCHE_HTTP_URL=https://dev-api.avalanche.shapeshift.com
UNCHAINED_OPTIMISM_HTTP_URL=https://dev-api.optimism.shapeshift.com
UNCHAINED_BNBSMARTCHAIN_HTTP_URL=https://dev-api.bnbsmartchain.shapeshift.com
UNCHAINED_POLYGON_HTTP_URL=https://dev-api.polygon.shapeshift.com
UNCHAINED_GNOSIS_HTTP_URL=https://dev-api.gnosis.shapeshift.com
UNCHAINED_ARBITRUM_HTTP_URL=https://dev-api.arbitrum.shapeshift.com
UNCHAINED_ARBITRUM_NOVA_HTTP_URL=https://dev-api.arbitrum-nova.shapeshift.com
UNCHAINED_BASE_HTTP_URL=https://dev-api.base.shapeshift.com

# Client-side Solana RPC URL
VITE_SOLANA_RPC_URL=https://api.solana.shapeshift.com/api/v1/jsonrpc

VITE_AGENTIC_SERVER_BASE_URL=http://localhost:4111

# Reown cloud app ID
VITE_PROJECT_ID=f3cf11a65c781d323d57f04018bccbe5

VITE_FEATURE_ENABLE_SIDEBAR_LEFT=false
VITE_FEATURE_ENABLE_SIDEBAR_RIGHT=false
