VITE_OPENAI_API_KEY=sk-proj-
VITE_PORTALS_BASE_URL=https://api.portals.fi
VITE_PORTALS_API_KEY=copy me from web
VITE_BEBOP_API_KEY=request me

# Reown cloud app ID
VITE_PROJECT_ID=f3cf11a65c781d323d57f04018bccbe5

VITE_UNCHAINED_ETHEREUM_HTTP_URL=https://dev-api.ethereum.shapeshift.com
VITE_UNCHAINED_AVALANCHE_HTTP_URL=https://dev-api.avalanche.shapeshift.com
VITE_UNCHAINED_OPTIMISM_HTTP_URL=https://dev-api.optimism.shapeshift.com
VITE_UNCHAINED_BNBSMARTCHAIN_HTTP_URL=https://dev-api.bnbsmartchain.shapeshift.com
VITE_UNCHAINED_POLYGON_HTTP_URL=https://dev-api.polygon.shapeshift.com
VITE_UNCHAINED_GNOSIS_HTTP_URL=https://dev-api.gnosis.shapeshift.com
VITE_UNCHAINED_ARBITRUM_HTTP_URL=https://dev-api.arbitrum.shapeshift.com
VITE_UNCHAINED_ARBITRUM_NOVA_HTTP_URL=https://dev-api.arbitrum-nova.shapeshift.com
VITE_UNCHAINED_BASE_HTTP_URL=https://dev-api.base.shapeshift.com

VITE_AGENTIC_SERVER_BASE_URL=http://localhost:8080

VITE_FEATURE_ENABLE_SIDEBAR_LEFT=true
VITE_FEATURE_ENABLE_SIDEBAR_RIGHT=false
